


@media screen and(prefers-color-scheme: dark){
    html{
        background: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        .table{
            tr{
                th{
                    border: 1px solid rgb(255, 255, 255);
                }
                td{
                    border: 1px solid rgb(255, 255, 255);
                }
            }
        }
            code{
                color: rgb(0, 0, 0);
            }
    }
}
@media print{
    @page{
        // La regla @page es usada para 
        // modificar algunas propiedades CSS cuando se 
        // va a imprimir una página web
        size: A6;
    }
    body{
        color: rgb(73, 154, 224);
    }
}
@media screen and(min-width: 10000px){
    // de 480px en adelante se aplicaran los estilos para una pnatalla mas grande
    html{
        background-color: palevioletred;
    }
}
@media screen and(max-width: 0px){
    // de 1024px para abajo se aplicaran los estilos para dispositivos mas pequeños
    html{
        background-color: cadetblue;
    }
}
@supports not(grid-template-columns: subgrid){
    .pruebaFeatureQuerie::first-letter{
        font-size: 1.5em;
        color:rgb(36, 106, 238);
    }
}

