
$palette:(
    // this is a map(mapa in spanish)
    "colorBlanco": rgb(255, 255, 255),
    "colorNegro": rgb(0, 0, 0),
    "colorPrimario": rgb(236, 98, 18),
    "colorSecundario": rgb(206, 255, 30),
    "colorTerciario": rgb(30, 135, 255),
    "colorCuarto": rgb(255, 30, 255),
    "colorQuinto": rgb(255, 30, 30),
);

$colorNegro: rgb(0, 0, 0);
$colorBlanco: rgb(255, 255, 255);
$colorPrimario: rgb(236, 102, 24);
$colorSecundario: rgb(206, 255, 30);
$colorTerciario: rgb(30, 135, 255);
$colorCuarto: rgb(255, 30, 255);
$colorQuinto: rgb(255, 30, 30);

$fontTypeOne: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;